nodered/modbusSerial_pixsys_MCM260X-4AD_IN.json
[{"id":"8857b991.627ae8","type":"tab","label":"Modbus Serial IN","disabled":false,"info":""},{"id":"92e588de.e34ad8","type":"inject","z":"8857b991.627ae8","name":"","props":[{"p":"payload","v":"","vt":"date"},{"p":"topic","v":"","vt":"string"}],"repeat":"5","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"","payloadType":"date","x":255.111083984375,"y":361.1110534667969,"wires":[["49ad487a.b47208"]]},{"id":"34be24ea.8d7f3c","type":"function","z":"8857b991.627ae8","name":"","func":"msg.topic=\"ItemUpdate\"\nif (msg.payload===true){\n    msg.payload=\"CLOSED\"\n}\nelse\n    msg.payload=\"OPEN\"\n    msg.delay\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":955.7776794433594,"y":166.33332443237305,"wires":[["8de3b89.dfe1248"]]},{"id":"359659a3.78c2a6","type":"function","z":"8857b991.627ae8","name":"","func":"msg.topic=\"ItemUpdate\"\nif (msg.payload===true){\n    msg.payload=\"CLOSED\"\n}\nelse\n    msg.payload=\"OPEN\"\nreturn msg;","outputs":1,"noerr":0,"x":952.4443817138672,"y":215.22220516204834,"wires":[["32cb0816.576328"]]},{"id":"2df0705a.822aa","type":"function","z":"8857b991.627ae8","name":"","func":"msg.topic=\"ItemUpdate\"\nif (msg.payload===true){\n    msg.payload=\"CLOSED\"\n}\nelse\n    msg.payload=\"OPEN\"\nreturn msg;","outputs":1,"noerr":0,"x":952.2221717834473,"y":270.6666622161865,"wires":[["6cf62b01.aec3f4"]]},{"id":"16967a1e.ca2936","type":"function","z":"8857b991.627ae8","name":"","func":"msg.topic=\"ItemUpdate\"\nif (msg.payload===true){\n    msg.payload=\"CLOSED\"\n}\nelse\n    msg.payload=\"OPEN\"\nreturn msg;","outputs":1,"noerr":0,"x":956.8888702392578,"y":319.7777862548828,"wires":[["c30a2538.215bd8"]]},{"id":"1694b65c.ceae9a","type":"function","z":"8857b991.627ae8","name":"","func":"msg.topic=\"ItemUpdate\"\nif (msg.payload===true){\n    msg.payload=\"CLOSED\"\n}\nelse\n    msg.payload=\"OPEN\"\nreturn msg;","outputs":1,"noerr":0,"x":957.9999504089355,"y":365.777774810791,"wires":[["aed8d4b.18bbd28"]]},{"id":"27c43450.662bdc","type":"function","z":"8857b991.627ae8","name":"","func":"msg.topic=\"ItemUpdate\"\nif (msg.payload===true){\n    msg.payload=\"CLOSED\"\n}\nelse\n    msg.payload=\"OPEN\"\nreturn msg;","outputs":1,"noerr":0,"x":955.5555877685547,"y":412.44445610046387,"wires":[["25789acb.3c53f6"]]},{"id":"47f6e8ee.04edc8","type":"function","z":"8857b991.627ae8","name":"","func":"msg.topic=\"ItemUpdate\"\nif (msg.payload===true){\n    msg.payload=\"CLOSED\"\n}\nelse\n    msg.payload=\"OPEN\"\nreturn msg;","outputs":1,"noerr":0,"x":956.8888931274414,"y":460.33335304260254,"wires":[["4b96cce4.188114"]]},{"id":"d8759170.b6862","type":"function","z":"8857b991.627ae8","name":"","func":"msg.topic=\"ItemUpdate\"\nif (msg.payload===true){\n    msg.payload=\"CLOSED\"\n}\nelse\n    msg.payload=\"OPEN\"\nreturn msg;","outputs":1,"noerr":0,"x":956.1110725402832,"y":510.4444761276245,"wires":[["411f4660.a12ed8"]]},{"id":"6cf62b01.aec3f4","type":"openhab2-out","z":"8857b991.627ae8","name":"","controller":"498a1319.6fc92c","itemname":"pixsysIn3","topic":"","payload":"","x":1140.4443817138672,"y":270.1111192703247,"wires":[[]]},{"id":"c30a2538.215bd8","type":"openhab2-out","z":"8857b991.627ae8","name":"","controller":"498a1319.6fc92c","itemname":"pixsysIn4","topic":"","payload":"","x":1138.3332290649414,"y":319.77777004241943,"wires":[[]]},{"id":"aed8d4b.18bbd28","type":"openhab2-out","z":"8857b991.627ae8","name":"","controller":"498a1319.6fc92c","itemname":"pixsysIn5","topic":"","payload":"","x":1141.666576385498,"y":369.4444513320923,"wires":[[]]},{"id":"25789acb.3c53f6","type":"openhab2-out","z":"8857b991.627ae8","name":"","controller":"498a1319.6fc92c","itemname":"pixsysIn6","topic":"","payload":"","x":1139.9999618530273,"y":415.5555610656738,"wires":[[]]},{"id":"4b96cce4.188114","type":"openhab2-out","z":"8857b991.627ae8","name":"","controller":"498a1319.6fc92c","itemname":"pixsysIn7","topic":"","payload":"","x":1142.2222137451172,"y":461.11112117767334,"wires":[[]]},{"id":"411f4660.a12ed8","type":"openhab2-out","z":"8857b991.627ae8","name":"","controller":"498a1319.6fc92c","itemname":"pixsysIn8","topic":"","payload":"","x":1144.4444618225098,"y":513.3333215713501,"wires":[[]]},{"id":"49ad487a.b47208","type":"modbus-getter","z":"8857b991.627ae8","name":"","showStatusActivities":true,"showErrors":true,"logIOActivities":false,"unitid":"","dataType":"HoldingRegister","adr":"1000","quantity":"1","server":"66fd2c9b.9beb64","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":true,"keepMsgProperties":true,"x":491,"y":361.0000305175781,"wires":[["45c462da.04c0cc"],[]]},{"id":"8e3e03c7.22308","type":"openhab2-out","z":"8857b991.627ae8","name":"","controller":"498a1319.6fc92c","itemname":"pixsysIn1","topic":"","payload":"","x":1140,"y":160,"wires":[["b0da2779.dd7188"]]},{"id":"32cb0816.576328","type":"openhab2-out","z":"8857b991.627ae8","name":"","controller":"498a1319.6fc92c","itemname":"pixsysIn2","topic":"ItemUpdate","payload":"","x":1133,"y":215,"wires":[["83e4999.77fcb68"]]},{"id":"45c462da.04c0cc","type":"bit-sixteen","z":"8857b991.627ae8","name":"","x":730,"y":360,"wires":[["34be24ea.8d7f3c"],["359659a3.78c2a6"],["2df0705a.822aa"],["16967a1e.ca2936"],["1694b65c.ceae9a"],["27c43450.662bdc"],["47f6e8ee.04edc8"],["d8759170.b6862"],[],[],[],[],[],[],[],[]]},{"id":"83e4999.77fcb68","type":"debug","z":"8857b991.627ae8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":1350,"y":320,"wires":[]},{"id":"b0da2779.dd7188","type":"debug","z":"8857b991.627ae8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":1310,"y":80,"wires":[]},{"id":"8de3b89.dfe1248","type":"delay","z":"8857b991.627ae8","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"8","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1040,"y":80,"wires":[["8e3e03c7.22308"]]},{"id":"498a1319.6fc92c","type":"openhab2-controller","name":"OH-Localhost","protocol":"http","host":"localhost","port":"8080","path":"","username":"","password":""},{"id":"66fd2c9b.9beb64","type":"modbus-client","name":"","clienttype":"serial","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB0","serialType":"RTU","serialBaudrate":"57600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"1","unit_id":1,"commandDelay":50,"clientTimeout":7000,"reconnectOnTimeout":false,"reconnectTimeout":4000,"parallelUnitIdsAllowed":false}]
