nodered/modbusSerial_pixsys_MCM260X-4AD_OUT.json
[{"id":"e623caa.540fb38","type":"tab","label":"Modbus SERIAL OUT","disabled":false,"info":""},{"id":"460ef7c.089e408","type":"modbus-flex-write","z":"e623caa.540fb38","name":"","showStatusActivities":false,"showErrors":false,"server":"dabbd89b.2df0c8","x":805.2222137451172,"y":256.4444351196289,"wires":[["71595fda.82ee9"],[]]},{"id":"71595fda.82ee9","type":"debug","z":"e623caa.540fb38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1112.777816772461,"y":256.88890266418457,"wires":[]},{"id":"8c3e5f74.00e08","type":"function","z":"e623caa.540fb38","name":"Set flow variable","func":"flow.set('relay',0);\nflow.set('out1state', 0);\nflow.set('out2state', 0);\nflow.set('out3state', 0);\nflow.set('out4state', 0);\nflow.set('out5state', 0);\nflow.set('out6state', 0);\nflow.set('out7state', 0);\nflow.set('out8state', 0);\n\nreturn msg;","outputs":1,"noerr":0,"x":284,"y":52,"wires":[[]]},{"id":"f1288838.857648","type":"inject","z":"e623caa.540fb38","name":"Go","topic":"","payload":"go","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"0.1","x":119,"y":52,"wires":[["8c3e5f74.00e08"]]},{"id":"4c63bc63.692004","type":"debug","z":"e623caa.540fb38","name":"","active":false,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","x":654,"y":94,"wires":[]},{"id":"c96d923a.8eb3a","type":"function","z":"e623caa.540fb38","name":"8 relay board","func":"var relay = flow.get('relay');\nvar out1state = flow.get('out1state');\nvar out2state = flow.get('out2state');\nvar out3state = flow.get('out3state');\nvar out4state = flow.get('out4state');\nvar out5state = flow.get('out5state');\nvar out6state = flow.get('out6state');\nvar out7state = flow.get('out7state');\nvar out8state = flow.get('out8state');\n\nif (msg.item===\"pixsysOut1\") {\n    if ((msg.payload===\"ON\")&&(out1state===0)){\n        out1state = 1;\n        flow.set('out1state', out1state);\n        relay += 1;\n        flow.set('relay', relay);\n        msg.payload={\n            \"value\": relay,\n            \"fc\": 6,\n            \"unitid\": 1,\n            \"address\": 1100,\n            \"quantity\": 8\n            }\n        }\n    else if ((msg.payload===\"OFF\")&&(out1state===1)){\n        out1state = 0;\n        flow.set('out1state', out1state);\n        relay -= 1;\n        flow.set('relay', relay);\n        msg.payload={\n            \"value\": relay,\n            \"fc\": 6,\n            \"unitid\": 1,\n            \"address\": 1100,\n            \"quantity\": 8\n            }\n        }\n}\nif (msg.item===\"pixsysOut2\") {\n    if ((msg.payload===\"ON\")&&(out2state===0)){\n        out2state = 1;\n        flow.set('out2state', out2state);\n        relay += 2;\n        flow.set('relay', relay);\n        msg.payload={\n            \"value\": relay,\n            \"fc\": 6,\n            \"unitid\": 1,\n            \"address\": 1100,\n            \"quantity\": 8\n            }\n        }\n    else if ((msg.payload===\"OFF\")&&(out2state===1)){\n        out2state = 0;\n        flow.set('out2state', out2state);\n        relay -= 2;\n        flow.set('relay', relay);\n        msg.payload={\n            \"value\": relay,\n            \"fc\": 6,\n            \"unitid\": 1,\n            \"address\": 1100,\n            \"quantity\": 8\n            }\n        }\n}\nif (msg.item===\"pixsysOut3\") {\n    if ((msg.payload===\"ON\")&&(out3state===0)){\n        out3state = 1;\n        flow.set('out3state', out3state);\n        relay += 4;\n        flow.set('relay', relay);\n        msg.payload={\n            \"value\": relay,\n            \"fc\": 6,\n            \"unitid\": 1,\n            \"address\": 1100,\n            \"quantity\": 8\n            }\n        }\n    else if ((msg.payload===\"OFF\")&&(out3state===1)){\n        out3state = 0;\n        flow.set('out3state', out3state);\n        relay -= 4;\n        flow.set('relay', relay);\n        msg.payload={\n            \"value\": relay,\n            \"fc\": 6,\n            \"unitid\": 1,\n            \"address\": 1100,\n            \"quantity\": 8\n            }\n        }\n}\nif (msg.item===\"pixsysOut4\") {\n    if ((msg.payload===\"ON\")&&(out4state===0)){\n        out4state = 1;\n        flow.set('out4state', out4state);\n        relay += 8;\n        flow.set('relay', relay);\n        msg.payload={\n            \"value\": relay,\n            \"fc\": 6,\n            \"unitid\": 1,\n            \"address\": 1100,\n            \"quantity\": 8\n            }\n        }\n    else if ((msg.payload===\"OFF\")&&(out4state===1)){\n        out4state = 0;\n        flow.set('out4state', out4state);\n        relay -= 8;\n        flow.set('relay', relay);\n        msg.payload={\n            \"value\": relay,\n            \"fc\": 6,\n            \"unitid\": 1,\n            \"address\": 1100,\n            \"quantity\": 8\n            }\n        }\n}\nif (msg.item===\"pixsysOut5\") {\n    if ((msg.payload===\"ON\")&&(out5state===0)){\n        out5state = 1;\n        flow.set('out5state', out5state);\n        relay += 16;\n        flow.set('relay', relay);\n        msg.payload={\n            \"value\": relay,\n            \"fc\": 6,\n            \"unitid\": 1,\n            \"address\": 1100,\n            \"quantity\": 8\n            }\n        }\n    else if ((msg.payload===\"OFF\")&&(out5state===1)){\n        out5state = 0;\n        flow.set('out5state', out5state);\n        relay -= 16;\n        flow.set('relay', relay);\n        msg.payload={\n            \"value\": relay,\n            \"fc\": 6,\n            \"unitid\": 1,\n            \"address\": 1100,\n            \"quantity\": 8\n            }\n        }\n}\n\nif (msg.item===\"pixsysOut6\") {\n    if ((msg.payload===\"ON\")&&(out6state===0)){\n        out6state = 1;\n        flow.set('out6state', out6state);\n        relay += 32;\n        flow.set('relay', relay);\n        msg.payload={\n            \"value\": relay,\n            \"fc\": 6,\n            \"unitid\": 1,\n            \"address\": 1100,\n            \"quantity\": 8\n            }\n        }\n    else if ((msg.payload===\"OFF\")&&(out6state===1)){\n        out6state = 0;\n        flow.set('out6state', out6state);\n        relay -= 32;\n        flow.set('relay', relay);\n        msg.payload={\n            \"value\": relay,\n            \"fc\": 6,\n            \"unitid\": 1,\n            \"address\": 1100,\n            \"quantity\": 8\n            }\n        }\n}\n\nif (msg.item===\"pixsysOut7\") {\n    if ((msg.payload===\"ON\")&&(out7state===0)){\n        out7state = 1;\n        flow.set('out7state', out7state);\n        relay += 64;\n        flow.set('relay', relay);\n        msg.payload={\n            \"value\": relay,\n            \"fc\": 6,\n            \"unitid\": 1,\n            \"address\": 1100,\n            \"quantity\": 8\n            }\n        }\n    else if ((msg.payload===\"OFF\")&&(out7state===1)){\n        out7state = 0;\n        flow.set('out7state', out7state);\n        relay -= 64;\n        flow.set('relay', relay);\n        msg.payload={\n            \"value\": relay,\n            \"fc\": 6,\n            \"unitid\": 1,\n            \"address\": 1100,\n            \"quantity\": 8\n            }\n        }\n}\n\nif (msg.item===\"pixsysOut8\") {\n    if ((msg.payload===\"ON\")&&(out8state===0)){\n        out8state = 1;\n        flow.set('out8state', out8state);\n        relay += 128;\n        flow.set('relay', relay);\n        msg.payload={\n            \"value\": relay,\n            \"fc\": 6,\n            \"unitid\": 1,\n            \"address\": 1100,\n            \"quantity\": 8\n            }\n        }\n    else if ((msg.payload===\"OFF\")&&(out8state===1)){\n        out8state = 0;\n        flow.set('out8state', out8state);\n        relay -= 128;\n        flow.set('relay', relay);\n        msg.payload={\n            \"value\": relay,\n            \"fc\": 6,\n            \"unitid\": 1,\n            \"address\": 1100,\n            \"quantity\": 8\n            }\n        }\n}\nreturn msg;","outputs":1,"noerr":0,"x":531.7777862548828,"y":255.44444465637207,"wires":[["460ef7c.089e408","79e9a482.15ad7c"]]},{"id":"ed319363.d8d7","type":"openhab2-in","z":"e623caa.540fb38","name":"","controller":"5cf5d0b0.66102","itemname":"pixsysOut1","x":97,"y":119,"wires":[["4c63bc63.692004","c96d923a.8eb3a"],[]]},{"id":"4c11fb19.851104","type":"openhab2-in","z":"e623caa.540fb38","name":"","controller":"5cf5d0b0.66102","itemname":"pixsysOut2","x":97,"y":168,"wires":[["c96d923a.8eb3a"],[]]},{"id":"79e9a482.15ad7c","type":"debug","z":"e623caa.540fb38","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":802,"y":172,"wires":[]},{"id":"ae9a127d.ff861","type":"openhab2-in","z":"e623caa.540fb38","name":"","controller":"5cf5d0b0.66102","itemname":"pixsysOut3","x":100,"y":228,"wires":[["c96d923a.8eb3a"],[]]},{"id":"f1666223.d68cb","type":"openhab2-in","z":"e623caa.540fb38","name":"","controller":"5cf5d0b0.66102","itemname":"pixsysOut8","x":100.66667175292969,"y":484.6666421890259,"wires":[["c96d923a.8eb3a"],[]]},{"id":"b803c5c0.ebc228","type":"openhab2-in","z":"e623caa.540fb38","name":"","controller":"5cf5d0b0.66102","itemname":"pixsysOut4","x":99.44444274902344,"y":284.2222270965576,"wires":[["c96d923a.8eb3a"],[]]},{"id":"5dee08dd.02fe18","type":"openhab2-in","z":"e623caa.540fb38","name":"","controller":"5cf5d0b0.66102","itemname":"pixsysOut5","x":97.77777099609375,"y":333.33331298828125,"wires":[["c96d923a.8eb3a"],[]]},{"id":"48d992f3.127b9c","type":"openhab2-in","z":"e623caa.540fb38","name":"","controller":"5cf5d0b0.66102","itemname":"pixsysOut6","x":97.77777099609375,"y":383.33331298828125,"wires":[["c96d923a.8eb3a"],[]]},{"id":"d47e5782.bf0fe8","type":"openhab2-in","z":"e623caa.540fb38","name":"","controller":"5cf5d0b0.66102","itemname":"pixsysOut7","x":97.77777099609375,"y":429.9999694824219,"wires":[["c96d923a.8eb3a"],[]]},{"id":"dabbd89b.2df0c8","type":"modbus-client","z":"","name":"","clienttype":"simpleser","bufferCommands":false,"stateLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB0","serialType":"RTU","serialBaudrate":"57600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":1,"commandDelay":1,"clientTimeout":1000,"reconnectTimeout":2000},{"id":"5cf5d0b0.66102","type":"openhab2-controller","z":"","name":"OH-Localhost","protocol":"http","host":"localhost","port":"8080","path":"","username":"","password":""}]
