nodered/modbusSerial_pixsys_MCM260X-4AD_IN.json
[{"id":"983c0e8a.0992c","type":"tab","label":"Modbus Serial IN","disabled":false,"info":""},{"id":"4d6ee999.ce2a28","type":"modbus-flex-getter","z":"983c0e8a.0992c","name":"","showStatusActivities":false,"showErrors":false,"logIOActivities":false,"server":"dabbd89b.2df0c8","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":528.8888473510742,"y":361.11109161376953,"wires":[["5b9145fb.cdc91c"],[]]},{"id":"f76a5963.488938","type":"inject","z":"983c0e8a.0992c","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":131.7777328491211,"y":353.3333263397217,"wires":[["df27e2ca.66f63"]]},{"id":"df27e2ca.66f63","type":"function","z":"983c0e8a.0992c","name":"8 in board","func":"msg.payload={\n        \"value\": 0,\n        \"fc\": 3,\n        \"unitid\": 1,\n        \"address\": 1000,\n        \"quantity\": 1\n    }\nreturn msg;","outputs":1,"noerr":0,"x":320.77774810791016,"y":359.2222194671631,"wires":[["4d6ee999.ce2a28"]]},{"id":"b7ab0b40.159df8","type":"debug","z":"983c0e8a.0992c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":915.9999237060547,"y":53.333330154418945,"wires":[]},{"id":"11aeb0f3.332c1f","type":"openhab2-out","z":"983c0e8a.0992c","name":"","controller":"5cf5d0b0.66102","itemname":"pixsysIn1","topic":"","payload":"","x":1146.2220611572266,"y":165.9999942779541,"wires":[[]]},{"id":"5b9145fb.cdc91c","type":"bit-sixteen","z":"983c0e8a.0992c","name":"","x":744.4443969726562,"y":361.6666564941406,"wires":[["37bdf8fb.cc93f8","b7ab0b40.159df8"],["2ea4e5b0.6da5ca"],["680fa80d.2df2f8"],["21bb04ce.ff193c"],["a66c47e0.0b3348"],["14769928.2ebd47"],["d054fec4.cc9d6"],["7270cb6d.332c84"],[],[],[],[],[],[],[],[]]},{"id":"37bdf8fb.cc93f8","type":"function","z":"983c0e8a.0992c","name":"","func":"msg.topic=\"ItemUpdate\"\nif (msg.payload===true){\n    msg.payload=\"CLOSED\"\n}\nelse\n    msg.payload=\"OPEN\"\nreturn msg;","outputs":1,"noerr":0,"x":955.7776794433594,"y":166.33332443237305,"wires":[["11aeb0f3.332c1f"]]},{"id":"2ea4e5b0.6da5ca","type":"function","z":"983c0e8a.0992c","name":"","func":"msg.topic=\"ItemUpdate\"\nif (msg.payload===true){\n    msg.payload=\"CLOSED\"\n}\nelse\n    msg.payload=\"OPEN\"\nreturn msg;","outputs":1,"noerr":0,"x":952.4443817138672,"y":215.22220516204834,"wires":[["5a6aa3f1.4323fc"]]},{"id":"680fa80d.2df2f8","type":"function","z":"983c0e8a.0992c","name":"","func":"msg.topic=\"ItemUpdate\"\nif (msg.payload===true){\n    msg.payload=\"CLOSED\"\n}\nelse\n    msg.payload=\"OPEN\"\nreturn msg;","outputs":1,"noerr":0,"x":952.2221717834473,"y":270.6666622161865,"wires":[["597140e3.7d078"]]},{"id":"21bb04ce.ff193c","type":"function","z":"983c0e8a.0992c","name":"","func":"msg.topic=\"ItemUpdate\"\nif (msg.payload===true){\n    msg.payload=\"CLOSED\"\n}\nelse\n    msg.payload=\"OPEN\"\nreturn msg;","outputs":1,"noerr":0,"x":956.8888702392578,"y":319.7777862548828,"wires":[["ecb993df.58291"]]},{"id":"a66c47e0.0b3348","type":"function","z":"983c0e8a.0992c","name":"","func":"msg.topic=\"ItemUpdate\"\nif (msg.payload===true){\n    msg.payload=\"CLOSED\"\n}\nelse\n    msg.payload=\"OPEN\"\nreturn msg;","outputs":1,"noerr":0,"x":957.9999504089355,"y":365.777774810791,"wires":[["bfb54e15.3bda9"]]},{"id":"14769928.2ebd47","type":"function","z":"983c0e8a.0992c","name":"","func":"msg.topic=\"ItemUpdate\"\nif (msg.payload===true){\n    msg.payload=\"CLOSED\"\n}\nelse\n    msg.payload=\"OPEN\"\nreturn msg;","outputs":1,"noerr":0,"x":955.5555877685547,"y":412.44445610046387,"wires":[["95f04f5.cdbfbb"]]},{"id":"d054fec4.cc9d6","type":"function","z":"983c0e8a.0992c","name":"","func":"msg.topic=\"ItemUpdate\"\nif (msg.payload===true){\n    msg.payload=\"CLOSED\"\n}\nelse\n    msg.payload=\"OPEN\"\nreturn msg;","outputs":1,"noerr":0,"x":956.8888931274414,"y":460.33335304260254,"wires":[["66846d74.8164f4"]]},{"id":"7270cb6d.332c84","type":"function","z":"983c0e8a.0992c","name":"","func":"msg.topic=\"ItemUpdate\"\nif (msg.payload===true){\n    msg.payload=\"CLOSED\"\n}\nelse\n    msg.payload=\"OPEN\"\nreturn msg;","outputs":1,"noerr":0,"x":956.1110725402832,"y":510.4444761276245,"wires":[["ee074c3.6774eb"]]},{"id":"5a6aa3f1.4323fc","type":"openhab2-out","z":"983c0e8a.0992c","name":"","controller":"5cf5d0b0.66102","itemname":"pixsysIn2","topic":"","payload":"","x":1142.888786315918,"y":217.6666555404663,"wires":[[]]},{"id":"597140e3.7d078","type":"openhab2-out","z":"983c0e8a.0992c","name":"","controller":"5cf5d0b0.66102","itemname":"pixsysIn3","topic":"","payload":"","x":1140.4443817138672,"y":270.1111192703247,"wires":[[]]},{"id":"ecb993df.58291","type":"openhab2-out","z":"983c0e8a.0992c","name":"","controller":"5cf5d0b0.66102","itemname":"pixsysIn4","topic":"","payload":"","x":1138.3332290649414,"y":319.77777004241943,"wires":[[]]},{"id":"bfb54e15.3bda9","type":"openhab2-out","z":"983c0e8a.0992c","name":"","controller":"5cf5d0b0.66102","itemname":"pixsysIn5","topic":"","payload":"","x":1141.666576385498,"y":369.4444513320923,"wires":[[]]},{"id":"95f04f5.cdbfbb","type":"openhab2-out","z":"983c0e8a.0992c","name":"","controller":"5cf5d0b0.66102","itemname":"pixsysIn6","topic":"","payload":"","x":1139.9999618530273,"y":415.5555610656738,"wires":[[]]},{"id":"66846d74.8164f4","type":"openhab2-out","z":"983c0e8a.0992c","name":"","controller":"5cf5d0b0.66102","itemname":"pixsysIn7","topic":"","payload":"","x":1142.2222137451172,"y":461.11112117767334,"wires":[[]]},{"id":"ee074c3.6774eb","type":"openhab2-out","z":"983c0e8a.0992c","name":"","controller":"5cf5d0b0.66102","itemname":"pixsysIn8","topic":"","payload":"","x":1144.4444618225098,"y":513.3333215713501,"wires":[[]]},{"id":"dabbd89b.2df0c8","type":"modbus-client","z":"","name":"","clienttype":"simpleser","bufferCommands":false,"stateLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB0","serialType":"RTU","serialBaudrate":"57600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":1,"commandDelay":1,"clientTimeout":1000,"reconnectTimeout":2000},{"id":"5cf5d0b0.66102","type":"openhab2-controller","z":"","name":"OH-Localhost","protocol":"http","host":"localhost","port":"8080","path":"","username":"","password":""}]
